CREATE OR REPLACE FUNCTION recalculate_user_stats(user_id UUID)
RETURNS VOID AS \$\$
DECLARE
  sales_count INT;
  avg_rating NUMERIC;
  new_trust_score INT;
BEGIN
  SELECT count(*) INTO sales_count FROM offers 
  WHERE status = 'completed' AND (farmer_id = user_id OR buyer_id = user_id);
  
  SELECT avg(overall_rating) INTO avg_rating FROM reviews WHERE reviewee_id = user_id;
  
  IF avg_rating IS NULL THEN
    avg_rating := 0;
    new_trust_score := 50;
  ELSE
    new_trust_score := LEAST(100, ROUND((avg_rating * 15) + LEAST(25, sales_count * 2)));
  END IF;

  UPDATE profiles 
  SET total_sales = sales_count, 
      avg_rating = ROUND(avg_rating, 1), 
      trust_score = new_trust_score 
  WHERE id = user_id;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

-- Fix all existing profiles right now
SELECT recalculate_user_stats(id) FROM profiles;
